
@{
    ViewBag.Title = "AutoDisplay";
}

<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>

            var IntervalTime = @Session["rate"] * 1000;

            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");

            var lat = @ViewBag.Lat;
            var lon = @ViewBag.Lon;
            drawCircle(ctx, lat, lon); //draw a circle in starting position

            setLine(ctx, lat, lon); // sets line color and width.
            
            myTimer = (function () {
                
                $.post("@Url.Action("GetCoordinate")").done(function (xml) {

                    var xmlDoc = $.parseXML(xml), $xml = $(xmlDoc);
                    var lon = $xml.find("Lon").text();
                    var lat = $xml.find("Lat").text();

                    var x = (window.innerWidth / 360) * (parseInt(lon) + 180);
                    var y = (window.innerHeight / 180) * (parseInt(lat) + 90);

                    ctx.lineTo(x, y);
                    ctx.stroke();
                });
            });

            setInterval(myTimer, IntervalTime);

        </script>
    </div>
</body>
</html>
