
@{
    ViewBag.Title = "DisplayOnce";
}
<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");

            var lat = @ViewBag.Lat;
            var lon = @ViewBag.Lon;
            drawCircle(ctx, lat,lon)
        </script>
    </div>
</body>
</html>
