
@{
    ViewBag.Title = "DisplayOnce";
}
<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>
           
            /**
             * a code for diplaying the dot of Lon
             * and  Lat on the map.*/

            var canvas = document.getElementById("myCanvas");
            canvas.width = window.innerWidth;   //sets the canvas on whole page
            canvas.height = window.innerHeight; 
            var ctx = canvas.getContext("2d");

            var lat = parseInt('@ViewBag.Lat');
            var lon = parseInt('@ViewBag.Lon');

            y = (lat + 90) * (window.innerHeight / 180);
            x = (lon + 180) * (window.innerWidth / 360);

            ctx.fillStyle = "red"; //set the circe color to red
           
            ctx.beginPath();
            ctx.arc(x, y, 5, 0, 2 * Math.PI);
            ctx.fill();
            ctx.stroke();

        </script>
    </div>
</body>
</html>
