
@{
    Layout = null;
}
"DisplayOnce Action !"

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayOnce</title>
</head>
<body>
    "DisplayOnce Action !!"
    <img src="~/fonts/map.png" alt="Sample Photo" />
</body>
</html>
