
@{
    ViewBag.Title = "display";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* the path for the image.*/
            background-image: url("../../fonts/map.png");
            height: 100%;
            /* for the image be at the correct position. */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class=bg>
        <canvas id="myCanvas"></canvas>
        <script>

            var canvas = document.getElementById("myCanvas");
            canvas.width = window.innerWidth;   //sets the canvas on whole page
            canvas.height = window.innerHeight; 
            var ctx = canvas.getContext('2d');

            lat = 50;
            lon = -100;

            x = (lat + 90) * (window.innerHeight / 180);
            y = (lon + 180) * (window.innerWidth / 360);

            ctx.fillstyle = "red"; //WHY NO WORK ?!?! WHYYYYY

            ctx.beginPath();
            ctx.arc(x, y, 10, 0, 2 * Math.PI);
            ctx.fill();
            ctx.stroke();

        </script>
    </div>
</body>
</html>