
@{
    ViewBag.Title = "LoadDisplay";
}

<!DOCTYPE html>

<html>
<body>
    <div class="bg">
        <canvas id="myCanvas"></canvas>
        <script>

            var IntervalTime = @Session["rate"] * 1000;
            
            var canvas = document.getElementById("myCanvas");
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            var ctx = canvas.getContext("2d");

            ctx.strokeStyle = "red";
            ctx.lineWidth = 3;
            
            myTimer = (function () {

                $.post("@Url.Action("LoadFlightData")").done(function (xml) {

                    var xmlDoc = $.parseXML(xml), $xml = $(xmlDoc);
                    var lon = $xml.find("Lon").text();
                    var lat = $xml.find("Lat").text();

                    alert("lon = " + lon + ", lat = " + lat);   // CHECK !
                    if (lon == '' || lat == '') {
                        alert("Done display flight path !");
                        clearInterval(intervalID);
                        return;
                    }
                    
                    var x = (window.innerWidth / 360) * (parseInt(lon) + 180);
                    var y = (window.innerHeight / 180) * (parseInt(lat) + 90);

                    ctx.lineTo(x, y);
                    ctx.stroke();
                });
            });

            var intervalID = setInterval(myTimer, IntervalTime);
            

        </script>
    </div>
</body>
</html>

