
@{
    Layout = null;
}
"SaveDisplay Action !"


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDisplay</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
